.radial {
    display: grid;
    place-items: center;
    position: relative;
    width: 50vw;
    height: 50vh;
    left: 20vw;
    top: 20vh;
    border: 1px solid #ccc;
}

.player {
    width: 128px;
    height: 128px;
    position: absolute;
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
}

.player > .character-token > svg {
    position: absolute;
    top: 0;
    left: 0;
}

.player > .character-token {
    scale: 1;
    transition: scale 0.2s;
    display: block;
}
.player > .character-token:hover {
    scale: 1.2;
}
.player > .character-token > .icon-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
    display: block;
}
.player > .character-token > .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
    display: block;
    rotate: 0deg;
}
.player > .character-token > svg > text > textPath {
    font-size: 20px;
    fill: black;
}
.player > .character-token > .player-execution {
    font-size: 100px;
    color: rgba(185, 191, 203, 0.8);
    position: absolute;
    left: 14px;
    top: 14px;
    visibility: hidden;
}

.player > .player-button {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player > .player-ability-text {
    width: 200px;
    height: fit-content;
    font-size: 10px;
    position: absolute;
    margin: 5px;
    text-align: center;
    left: 140px;
    top: 40px;
    background-color: wheat;
    border-radius: 10px;
    visibility: hidden;
    transition: visibility 0.2s;
}
.player:hover > .player-ability-text {
    visibility: visible;
}


.player > .reminders {
    position: inherit;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    /* background-color: lightcoral; */
    border-radius: 50%;
    padding-left: 10px;
}

.player > .reminders > .reminder{
    width: 50px;
    height: 50px;
    align-items: center;
}
.player > .reminders > .reminder > .delete-svg {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
}

.player > .reminders > .reminder:hover > .delete-svg {
    visibility: visible;
    opacity: 1;
}

.player > .reminders > .reminder > svg,
.player > .reminders > .reminder > .reminder-icon {
    position: absolute;
    top: 0;
    left: 0;
}
.player > .reminders > .reminder > svg > text > textPath {
    fill: black;
    font-size: 15px;
}

#player-modification > form > #dialog-reminder-button-list > .dialog-reminder-button {
    position:relative;
    width: 55px;
    height: 55px;
}
#player-modification > form > #dialog-reminder-button-list > .dialog-reminder-button > .reminder-background,
#player-modification > form > #dialog-reminder-button-list > .dialog-reminder-button > .reminder-icon,
#player-modification > form > #dialog-reminder-button-list > .dialog-reminder-button > svg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
#player-modification > form > #dialog-reminder-button-list > .dialog-reminder-button > svg > text > textPath {
    fill: black;
    font-size: 15px;
}


textPath {
    text-anchor: middle;
    fill: white;
    font-family: Papyrus,serif;
}
/* .token {
    transform: translate(-50%, -50%) rotate(0deg) translateX(150px); 
} */