<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/grim.css">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" -->
    <script src="https://kit.fontawesome.com/b6a2129284.js" crossorigin="anonymous"></script>
    <title>Grimoire</title>
</head>
<body>
    <div id="radial-grid-adjust">
    </div>

    <ul class="radial">
        {% for player in players %}
        <!--TODO make rotate be by (360/length * index) - 90-->
        <li class="player" style="transform: rotate(calc({{(360 // players|length)*loop.index0}}deg + 5deg)) translate(300px) rotate(-calc({{(360 // players|length)*loop.index0}}deg + 5deg));" id="{{player.name}}">
            <ul class="reminders">
            </ul>
            <div class="character-token">
                <img class="icon-background dead" src="https://github.com/bra1n/townsquare/blob/develop/src/assets/token.png?raw=true" style="visibility: hidden;">
                <img class="icon-background alive" src="https://github.com/bra1n/townsquare/blob/develop/src/assets/life.png?raw=true">
                <img class="icon" src={{player.character.icon_url}}>
                <svg width="128" height="128">
                    <path id="character-name-path" d="M 20 40 A 50 50 0 1 0 108 40" pathLength="2" fill="none" stroke="none"/>
                    <text><textPath href="#character-name-path" startOffset="1">{{player.character.display_character_id}}</textPath></text>
                </svg>
                <i class="fa-solid fa-skull player-execution"></i>
            </div>
            <button class="player-button" data-player_name="{{player.name}}" onclick="open_dialog('{{player.name}}')">{{player.name}}</button>
            <p class="player-ability-text">{{player.character.abilitytext}}</p>
        </li>
        {% endfor %}
    </ul>
    

    <!--? Old Player Modification Dialog ?-->
    <dialog id="player-modification">
        <form action="/{{session_name}}/update_grim" method="POST">
            <h2 id="dialog-current_player-title">@@current_player@@</h2>
            <input type="hidden" name="dialog-current_player" id="dialog-current_player" value="">
            <!-- <div id="dialog-reminder-button-list">
                <button class="dialog-reminder-button" onclick="dialog_add_reminder('drunk.drunk')">
                    <img class="reminder-background" src="https://github.com/bra1n/townsquare/blob/develop/src/assets/reminder.png?raw=true" width="50" height="50">
                    <img class="reminder-icon" src="https://wiki.bloodontheclocktower.com/images/4/4a/Icon_drunk.png" width="50" height="50">
                    
                    <svg width="50" height="50" viewbox="0 0 50 50">
                        <path id="reminder-name-path" d="M 7.8125 15.625 A 19.53125 19.53125 0 1 0 42.1875 15.625" pathLength="2" fill="none" stroke="none"/>
                        <text><textPath href="#reminder-name-path" startOffset="1">Drunk</textPath></text>
                    </svg>
                </button>
            </div> -->
            
            <label for="dialog_newcharacter">New Character:</label>
            <input type="text" id="dialog_newcharacter" name="dialog_newcharacter">
            <button onclick="document.getElementById('dialog_newcharacter-ischanging').value = 'true'">Change Character</button><br>
            <input type="hidden" id="dialog_newcharacter-ischanging" name="dialog_newcharacter-ischanging" value="false"><br>
            
            <label for="dialog-newname-input">New Name:</label>
            <input type="text" id="dialog_newname" name="dialog_newname">
            <button onclick="document.getElementById('dialog_newname-ischanging').value = 'true'">Change Name</button>
            <input type="hidden" id="dialog_newname-ischanging" name="dialog_newname-ischanging" value="false"><br>



            <button onclick="document.getElementById('dialog_change_alivedead-ischanging').value = 'true'">Toggle Alive/Dead</button>
            <input type="hidden" id="dialog_change_alivedead-ischanging" name="dialog_change_alivedead-ischanging" value="false"><br>

            <button onclick="document.getElementById('dialog_mark_for_execution-ischanging').value = 'true'">Mark for Execution</button>
            <input type="hidden" id="dialog_mark_for_execution-ischanging" name="dialog_mark_for_execution-ischanging" value="false"><br>
            
            <!-- <p color="red" id="dialog-extrainfo"></p> --> <!--* Use for changing name if there's duplicate *-->
            <button type="button" id="dialog-close-button" onclick="document.getElementById('player-modification').close()">Cancel</button>
        </form>
    </dialog>
    <!--? End of Player Modification Dialog ?-->


    <template id="character-template">
    </template>
    <template id="reminder-template">
        <li class="reminder" onclick="this.remove()">
            <img class="reminder-background" src="https://github.com/bra1n/townsquare/blob/develop/src/assets/reminder.png?raw=true" width="50" height="50">
            <img class="reminder-icon" src="{{url}}" width="50" height="50">
            
            <svg width="50" height="50" viewbox="0 0 50 50">
                <path id="reminder-name-path" d="M 7.8125 15.625 A 19.53125 19.53125 0 1 0 42.1875 15.625" pathLength="2" fill="none" stroke="none"/>
                <text><textPath href="#reminder-name-path" startOffset="1" color="white">{{reminder}}</textPath></text>
            </svg>
            <svg width="50" height="50" viewBox="0 0 24 24" fill="none" class="delete-svg" style="cursor: pointer;">
                <path d="M19 5L5 19M5.00001 5L19 19" stroke="darkred" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </li>
    </template>
    <template id="reminder-button-template">
        <button class="dialog-reminder-button">
            <img class="reminder-background" src="https://github.com/bra1n/townsquare/blob/develop/src/assets/reminder.png?raw=true" width="50" height="50">
            <img class="reminder-icon" src="{{url}}" width="50" height="50">
            
            <svg width="50" height="50" viewbox="0 0 50 50">
                <path id="reminder-name-path" d="M 7.8125 15.625 A 19.53125 19.53125 0 1 0 42.1875 15.625" pathLength="2" fill="none" stroke="none"/>
                <text><textPath href="#reminder-name-path" startOffset="1" color="white">{{reminder_name}}</textPath></text>
            </svg>
        </button>
    </template>

    <script src="/static/js/playermodification.js"></script>
</body>
</html>