<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global.css">
    <title>Grim Setup</title>
</head>
<body>
    <h1>Setup</h1>
    <form id="game-setup-inputs" action="/{{session_name}}/add_players" style="color: white;" method="POST">
        <label for="setup-new-player-input">New Player:</label>
        <input type="text" id="setup-players-input" name="setup-players-input">
        <input type="submit" value="Setup Game">
    </form>
</body>
</html>